@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");

body {
  background: #0f1117;
  font-family: "IBM Plex Mono", monospace;
  color: white;
  margin: 0;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 10px;
  background-color: #171d23;
  cursor: pointer;
}

*::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #27313a;
}

@media (max-width: 1300px) {
  #root {
    width: max-content;
  }
}
